* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}


body {
    font-family: "Montserrat", sans-serif;
}


.container {
    max-width: 1590px;
    margin: 0 auto;

}

.nav_bar {
    padding: 38px 50px 38px 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 400;
    line-height: 23.16px;
}


.nav_menu {
    display: flex;
    align-items: center;
    column-gap: 18px;
}

.nav_menu li:hover {
    cursor: pointer;
    color: #0094CB;
}

.nav_right {
    display: flex;
    align-items: center;
    column-gap: 51px;
}

.lang_menu {
    row-gap: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ham_menu {
    display: none;
}


.intro_aside {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 140px;

    background-color: #fff;
    padding: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sm_list {
    display: grid;
    align-items: center;
    row-gap: 40px;
}

.sm_list li {
    transition: scale 0.5s;
}

.sm_list li:hover {
    cursor: pointer;
    scale: 110%;
}




.intro_banner {
    padding-left: 140px;
    background-image: url(../../img/mygov_banner.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 904px;
}

.page_direction {
    justify-content: end;
    padding: 20px 0 30px;
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.dir_icon {
    rotate: -90deg;
}

.intro_banner_content {
    justify-content: center;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    text-align: center;
    max-width: 1035px;
    text-transform: uppercase;
}

.banner_content_title {
    color: #0094CB;
    font-size: 42px;
    font-weight: 700;
    line-height: 61.32px;
}

.banner_content_desc {
    font-size: 19px;
    line-height: 27.74px;
}

.banner_content_button {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    padding: 14px 25px 14px 25px;
    border: none;
    color: #fff;
    background-color: #0094CB;
    border-radius: 15px;
    cursor: pointer;
}


.mg_main_section {
    padding-top: 60px;
    display: grid;
    row-gap: 60px;
}


.adv_title,
.posc_text_title {
    color: #0094CB;
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 700;
    line-height: 51.2px;
    text-align: center;
}

.adv_box_wrapper {
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 80px;
}

.adv_box {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.adv_box_img {
    width: 100px;
    height: 100px;
}

.adv_box_desc {
    font-size: 20px;
    font-weight: 500;
    line-height: 29.2px;
    text-align: center;
    padding: 24px 24px 28px;
}

.sin_por_content {
    display: grid;
    row-gap: 30px;
}

.sp_con_part1 {
    display: flex;
    align-items: start;
    column-gap: 45px;
}

.spc_part1_text,
.pos_content_text,
.pos_content_wrapper {
    display: grid;
    row-gap: 24px;
}

.text_title {
    font-size: 32px;
    font-weight: 700;
    line-height: 46.72px;
    color: #0094CB;
}

.text_desc,
.posc_text_desc {
    font-size: 20px;
    line-height: 29.2px;
}

.posc_text_title {
    text-align: left;
}

.posc_text_desc {
    max-width: 1104px;
}


.posc_wr_box {
    width: 100%;
    padding: 25px 30px;
    display: flex;
    align-items: center;
    column-gap: 25px;
    background-color: #F3F5F8;
    border-radius: 20px;
}

.pos_content {
    display: grid;
    row-gap: 45px;
}

.wr_box_img {
    height: 50px;
    width: auto;
}

.wr_box_text {
    font-size: 24px;
    font-weight: 700;
    line-height: 35.04px;
    color: #0094CB;
}

.footer {
    margin-top: 80px;
    width: 100%;
    border-top: 1px solid #dadada;
    background-color: #fff;
    text-align: center;
    padding: 30px 0;

}

.footer_img {
    width: 217.08px;
    height: 36.88px;
}

.footer_rights {
    padding: 22px 0 24px;
    font-size: 20px;
    line-height: 24.38px;
}