/* font-family: "Montserrat", sans-serif; */

/* font-family: "Inter", sans-serif; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}


body {
    font-family: "Montserrat", sans-serif;
}



.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 170px;
}



.header {
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 400;
    line-height: 23.16px;
    height: 120px;
    border-bottom: 1px solid #DADADA;
    display: flex;
    align-items: center;
}

.nav_container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid #DADADA;
    padding: 0 50px 0 30px;
}

.ham_menu {
    display: none;
}

.nav_logo_img {
    height: 60px;
    width: auto;
    margin: 37px;

}


.nav_menu {
    display: flex;
    align-items: center;
    column-gap: 18px;
}

.nav_menu li:hover {
    cursor: pointer;
    color: #0094CB;
}

.nav_right {
    display: flex;
    align-items: center;
    column-gap: 51px;
}

.lang_menu {
    row-gap: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.page_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;

}

.page_direction {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.dir_icon {
    rotate: -90deg;
}

.page_title p {
    color: #0094CB;
    font-size: 36px;
    font-weight: 700;
    line-height: 52.56px;
}


.page_direction a {
    cursor: pointer;
    color: initial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.page_direction a:hover {
    color: #636363;
}

.addr_box {
    border-top: 1px solid #dadada;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addr_contacts {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    row-gap: 15px;

    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
}

.addr_contacts a {
    padding-left: 12px;
    color: #0094CB;
}

.addr_contacts a:hover {
    color: #0095cb7e;
}

.addr_name {
    max-width: 350px;
    font-size: 24px;
    font-weight: 700;
    line-height: 35.04px;
}

.addr_info {
    max-width: 240px;
}

.addr_info p {
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
}

.addr_info address {
    font-style: normal;
    padding-top: 15px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
}


.addr_map {
    margin-left: 70px;
    border-radius: 10px;
    border: none;
    max-width: 300px;
    height: 110px;
}






.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #dadada;
    background-color: #fff;
    text-align: center;
    padding: 30px 0;

}

.footer_img {
    width: 217.08px;
    height: 36.88px;
}

.footer_rights {
    padding: 22px 0 24px;
    font-size: 20px;
    line-height: 24.38px;
}


@media screen and (max-width: 425px) {

    .container {
        max-width: 375px;
        padding: 0 16px;
    }



    .header {
        font-size: 12px;
        font-weight: 700;
        line-height: 14.5px;
        height: 74px;
        border-bottom: 1px solid #DADADA;
    }

    .nav_container {
        border: none;
        padding: 0 16px 0 12px;
    }

    .nav_container p {
        max-width: 197px;
    }

    .ham_menu {
        display: block;
    }

    .nav_logo_img {
        height: 40px;
        margin: 16px;
    }

    .nav_right {
        display: none;
    }


    .page_title {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 12px 0;
    }

    .page_direction {
        order: 1;

    }

    .dir_icon {
        rotate: -90deg;
    }

    .page_title p {
        padding-top: 24px;
        font-size: 22px;
        line-height: 32px;
        order: 2;
    }


    .page_direction a {
        font-size: 14px;
        font-weight: 700;
        line-height: 17.07px;
    }


    .addr_box {
        padding: 24px 0;
        flex-direction: column;
        align-items: start;
    }

    .addr_contacts {
        width: 100%;
        font-size: 14px;
        line-height: 17px;
    }


    .addr_name {
        font-size: 18px;
        line-height: 26px;
    }

    .addr_info {
        width: 100%;
        padding: 15px 0;
    }

    .addr_info p {
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
    }

    .addr_info address {
        padding-top: 10px;
        font-size: 14px;
        line-height: 17px;
    }


    .addr_map {

        margin: 24px auto;
        width: 100%;
    }






    .footer {
        position: relative;
    }

    .footer_img {
        width: 176px;
        height: 30px;
    }

    .footer_rights {
        padding: 30px 0 15px;
        font-size: 16px;
        line-height: 19.5px;
    }

    .footer_warning {
        margin: 0 auto;
        max-width: 285px;
        font-size: 12px;
        line-height: 14.63px;
    }


}